<h1 id="user-manual-for-the-ifado-platform">User Manual for the iFado platform</h1>
<h2 id="in-this-user-manual-it-is-expected-that-you-are-in-the-ifado-mycoast-machine-and-in-srv-http-ifado-index_ifado-html">In this user manual, it is expected that you are in the iFADO / MyCOAST machine and in /srv/http/iFADO/index_iFADO.html</h2>
<h3 id="changing-the-default-background-map">Changing the default background map</h3>
<p>To change the default map in the background, open <em>index_iFADO.html</em> in a text/code editor like VSCode and in line 947 you can find every map related option in the website.</p>
<p>To select a default map, you need to have a valid, uncommented map object already setup, much like</p>
<pre><code class="lang-javascript"><span class="hljs-keyword">new</span> OpenLayers.Layer.WMS(<span class="hljs-string">"GEBCO bathymetry Latest"</span>,
    <span class="hljs-string">"https://www.gebco.net/data_and_products/gebco_web_services/web_map_service/mapserv"</span>, {
    <span class="hljs-string">"layers"</span>: <span class="hljs-string">"GEBCO_Latest"</span>,
    <span class="hljs-string">"version"</span>: <span class="hljs-string">"1.3.0"</span>,
    <span class="hljs-string">"format"</span>: <span class="hljs-string">"image/png"</span>,
    }, {
    <span class="hljs-string">"isBaseLayer"</span>: <span class="hljs-literal">true</span>,
    <span class="hljs-string">"sphericalMercator"</span>: <span class="hljs-literal">true</span>,
    <span class="hljs-string">"numZoomLevels"</span>: <span class="hljs-number">22</span>,
    <span class="hljs-string">"wrapDateLine"</span>: <span class="hljs-literal">false</span>
    }
),
</code></pre>
<p>and place it at the first position of the baseLayers array (right below <em>baseLayer: [</em>, don&#39;t forget the comma (,) at he end if you want more than one map and no errors)</p>
<h3 id="adding-a-new-domain-depth">Adding a new domain / depth</h3>
<p>In order to add a new domain or depth, go to line 1085. You will need to have a valid product so it will get displayed. An example is the nitrate in the Portugal (Surface) domain</p>
<pre><code class="lang-javascript">{
    <span class="hljs-attribute">label</span>: external(<span class="hljs-string">'currentColor'</span>) + <span class="hljs-string">'Nitrate (MOHID)'</span>,
    <span class="hljs-attribute">id</span>: <span class="hljs-string">'3857_ifado__0m_nitrate_portugal'</span>,
    <span class="hljs-attribute">type</span>: <span class="hljs-string">'NCWMS'</span>,
    <span class="hljs-attribute">selected</span>: false,
    <span class="hljs-attribute">mustBeCurrent</span>: true,
    <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>,
    <span class="hljs-attribute">stackLevel</span>: <span class="hljs-number">0</span>,
    <span class="hljs-attribute">description</span>: <span class="hljs-string">"mole concentration of nitrate in sea water"</span>,

    <span class="hljs-attribute">ncwmsURL</span>: <span class="hljs-string">'http://thredds.maretec.org/thredds/wms/IST_MOHID_BIO_DATA/PORTUGAL_0.06DEG_50L_3H/FORECAST'</span>,
    <span class="hljs-attribute">ncwmsQueryAdapter</span>: mohidTHREDDSSurface,
    <span class="hljs-attribute">ncwmsParams</span>: {
        <span class="hljs-attribute">TRANSPARENT</span>: true,
        <span class="hljs-attribute">COLORSCALERANGE</span>: <span class="hljs-string">'0,0.2'</span>,
        <span class="hljs-attribute">NUMCOLORBANDS</span>: <span class="hljs-number">256</span>,
        <span class="hljs-attribute">ABOVEMAXCOLOR</span>: <span class="hljs-string">'0x000000'</span>,
        <span class="hljs-attribute">BELOWMINCOLOR</span>: <span class="hljs-string">'0x000000'</span>,
        <span class="hljs-attribute">LOGSCALE</span>: <span class="hljs-string">'false'</span>,
        <span class="hljs-comment">// NUMCONTOURS: 10,</span>
        <span class="hljs-attribute">LAYERS</span>: <span class="hljs-string">'nitrate'</span>,
        <span class="hljs-attribute">STYLES</span>: <span class="hljs-string">'boxfill/ferret'</span>,
        <span class="hljs-attribute">CRS</span>: <span class="hljs-string">'EPSG:3857'</span>,
        <span class="hljs-attribute">VERSION</span>: <span class="hljs-string">'1.3.0'</span>,
    },
    <span class="hljs-attribute">infoURL</span>: <span class="hljs-string">'resources/descriptions/product_3857_ifado__0m_nitrate.md'</span>
},
</code></pre>
<p>Useful information:</p>
<h4 id="format">FORMAT</h4>
<p>The supported formats are:
    image/png
    image/png;mode=32bit
    image/gif
    image/jpeg
    application/vnd.google-earth.kmz</p>
<h4 id="time">TIME</h4>
<p>For gridded data with a discrete time axis this takes a single value. For in-situ data which is spread over a range, it is more useful to provide a time range in the form starttime/endtime. This should ideally be used in conjunction with the TARGETTIME parameter (see below)</p>
<h4 id="elevation">ELEVATION</h4>
<p>For gridded data with a discrete vertical axis this takes a single value. For in-situ data which is spread over a range, it is more useful to provide an elevation range in the form startelevation/endelevation. This should ideally be used in conjunction with the TARGETELEVATION parameter (see below)</p>
<h4 id="styles">STYLES</h4>
<p>Available styles can be found from the Capabilities document. Generally styles are of the form stylename/palettename, and the style name default is always available</p>
<p>In additional to the standard GetMap parameters, ncWMS accepts the following optional additional parameters. If not specified, the server-configured defaults are used:</p>
<h4 id="crs">CRS</h4>
<p>The projection of the layer. Default is CRS:84, supported formats are:
    CRS:84
    EPSG:4326
    EPSG:3857
    EPSG:900913
    EPSG:32661
    EPSG:32761
    EPSG:5401
    EPSG:5402</p>
<h4 id="version">VERSION</h4>
<p>ncWMS version.</p>
<h4 id="colorscalerange">COLORSCALERANGE</h4>
<p>Of the form min,max this is the scale range used for plotting the data.
<strong>Note: With this parameter, for now, the corrections have to be done manually until data shows up on the website</strong></p>
<h4 id="numcolorbands">NUMCOLORBANDS</h4>
<p>The number of discrete colours to plot the data. Must be between 2 and 250</p>
<h4 id="abovemaxcolor">ABOVEMAXCOLOR</h4>
<p>The colour to plot values which are above the maximum end of the scale range. Colours are as defined above, with the addition of &quot;extend&quot;, which will use the maximum value of the palette.</p>
<h4 id="belowmincolor">BELOWMINCOLOR</h4>
<p>The colour to plot values which are below the minimum end of the scale range. Colours are as defined above, with the addition of &quot;extend&quot;, which will use the minimum value of the palette.</p>
<h4 id="logscale">LOGSCALE</h4>
<p>&quot;true&quot; or &quot;false&quot; - whether to plot data with a logarithmic scale</p>
<h4 id="targettime">TARGETTIME</h4>
<p>For in-situ data, all points which fall within the time range (specified in the TIME parameter) will be plotted. In the case that an in-situ point has multiple time readings within that range, the colour used to plot them will depend on the time value which is closest to this given value</p>
<h4 id="targetelevation">TARGETELEVATION</h4>
<p>For in-situ data, all points which fall within the elevation range (specified in the ELEVATION parameter) will be plotted. In the case that an in-situ point has multiple elevation readings within that range, the colour used to plot them will depend on the elevation value which is closest to this given value</p>
<h4 id="opacity">OPACITY</h4>
<p>The percentage opacity of the final output image</p>
<h4 id="animation">ANIMATION</h4>
<p>&quot;true&quot; or &quot;false&quot; - whether to generate an animation. This also needs the TIME to be of the formstarttime/endtime, and currently is only implemented for features with a discrete time axis.</p>
<h3 id="changing-the-information-in-each-layer">Changing the information in each layer</h3>
<p>To change the information in each layer refer to the <a href="https://docs.geoserver.org/stable/en/user/services/wms/reference.html#wms-getmap">documentation</a>. The most importnat parameters are explained in the previous point.</p>
<h3 id="changing-the-color-scale">Changing the color scale</h3>
<p>Refer to the STYLES parameter in <strong>Adding a new domain / depth</strong>:
To change the color scale and style shown in each layer, choose any domain currently in the website and select the STYLES paramater in <strong>ncwmsParams</strong> and choose your preferred style from <a href="http://thredds.maretec.org/thredds/wms/MOHID_WATER/PORTUGAL_0.06DEG_50L_3H/FORECAST/2018010200.nc?service=WMS&amp;version=1.3.0&amp;request=GetCapabilities">styles</a></p>
